html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  
}
body {
  background: #21252b;

  color: #d3ddef;
}

.ag-canvas {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  position: relative;
  visibility: visible;

  width: 100%;
  height: 100%;
  padding: 3rem 1rem;
  opacity: 1;
  transition: opacity 0.5s;

  z-index: -1;
  margin-top: -90px;
}
.ag-canvas_svg {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
  margin-left: 1rem;
}
.ag-canvas_svg path {
  fill: #87acef;
  fill-opacity: 1;
  stroke: #21252b;
  stroke-opacity: 1;
  stroke-width: 0.5;
  transition: 0.5s;
}

@media screen and (max-width: 767px) {
  .ag-canvas {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    height: auto;
    padding: 4rem 1rem 1rem;
  }
  .ag-canvas_svg {
    max-height: calc(100% - 6rem);
    margin-left: 0;
  }
}

input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: teal;
  /* float: right;
  margin-bottom: -100px; */
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.total-count {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for readability */
  padding: 15px 25px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
  position: absolute;
  left: 20px; /* A little margin from the edge */
  bottom: 20px;
  font-size: 1.5em; /* Larger font size */
  letter-spacing: 0.5px; /* Better text spacing */
}


form {
  display: block;
  max-width: 33.33%; /* 1/3 of the screen width */
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
  position: relative;
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}

button {
  width: 50%; /* 1/6 of the screen width, adjusted for centering under input */
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  left: 25%; /* Centers the button under the input field */
}

button:hover {
  background-color: #0056b3;
}
